<a href="#" class="list-group-item clearfix">
    <span class="pull-right">
      <img class="img-rounded"
           src="{{immobilier.imagePath}}"
           width="130" height="100"/>
  </span>
  <div class="pull-left">

    <h5 class="list-group-item-heading" ><b>{{immobilier.titre}}</b></h5>
    <p class="list-group-item-text"><b>Prix : </b> {{immobilier.price}}DNT</p>
    <p class="list-group-item-text"><span class="glyphicon glyphicon-map-marker small"></span> <b> Ville : </b> {{immobilier.ville}}</p>

    <p class="small"><span class="glyphicon glyphicon-time"> </span> {{immobilier.datedepos}}</p>



  </div>

</a>
